.item {
    display: inline-flex;
    width: 12rem;
    height: 4rem;
    margin: 0.2rem;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    
    background: #2e3043;
    border-radius: 0.3rem;

    span {
        display: block;
    }

    span:first-child {
        text-transform: uppercase;
        color: #aaa;
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
    }

    span:last-child {
        font-size: 1.2rem;
    }
}