.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  & > div {
    padding: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    grid-template-columns: 16rem 1fr;

    & > div {
      padding: 0;
    }
  }
}
