.list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;

  & > a {
    border-radius: 0.3rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
